<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404:</title>
    <style>
      @font-face {
        font-family: 'DNFBitBitv2';
        font-style: normal;
        font-weight: 400;
        src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
      }

      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      h2 {
        display: inline-block;
        font-size: 3em;
      }

      section {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 25px;
        padding: 25px;
        width: 750px;
        height: 25em;
        border-radius: 33px;
        background-color: lightgrey;
      }

      p {
        margin-top: 20px;
        font-family: 'DNFForgedBlade';
        font-size: 1.5em;
      }

      a {
        display: inline-block;
        font-size: 1.5em;
        position: absolute;
        bottom: 20px;
        color: darkslategray;
        background-color: whitesmoke;
        border-radius: 33px;
        padding: 5px 10px;
        font-family: 'DNFForgedBlade';
        text-decoration: none;
        transition: all .5s ease-in-out;
      }

      a:hover {
        box-shadow: 0 0 9px rgba(0, 0, 0, .3);
        scale: 102%;
      }
    </style>
  </head>
  <body>
    <section>
      <h2>404: err</h2>
      <p>해당 url은 접근할 수 없는 주소입니다.</p>
      <a href="/">홈으로 돌아가기</a>
    </section>
  </body>
</html>