* {
  counter-reset: #2d2d2d;
  font-size: 1.5em;
}

h1 {
  color: rebeccapurple;
  background-color: lightgray;
  width: 50%;
}

/* 태그 선택자 */
div {
  background-color: aqua;
}

/* 클래스 선택자 */
.orange {
  color: orange;
}

.bg-red {
  background-color: darkred;
}

/* id선택자 */
#red {
  color: red;
}

/* 하위 선택자 */
div .apple {
  color: #920000;
}

/* 자식 선택자 */
div > .apple {
  color: #920000;
}

/* 인접 형제 선택자 */
h1 + ul {
  font-size: 20px;
  color: blue;
}

/* 일반 형제 선택자 */
h1 ~ ul {
  font-size: 20px;
}
